body {
  background: black;
}

#stage,
#stage-img {
  position: relative;
  background: teal;
}

section {
  background: cornflowerblue;
  position:   relative;
}

.section-content {
  height:      100%;
  overflow-x:  scroll;
  overflow-y:  hidden;
  white-space: nowrap;
}

h1 {
  position:    absolute;
  top:         10%;
  left:        5%;
  padding:     20px 15px 5px 15px;
  font-family: fantasy;
  line-height: 1;
  z-index:     100;
}

h3 {
  position:       absolute;
  bottom:         .25em;
  left:           .25em;
  background:     rgba(0, 200, 200, 0.7);
  color:          gainsboro;
  display:        inline;
  font-weight:    400;
  letter-spacing: 0.1em;
  padding:        3px 5px;
  z-index:        500;
}

#stage h3 {
  bottom: initial;
  left:   initial;
  top:    2em;
  right:  2em;
}

h4 {
  background: rgba(255, 255, 255, .6);
  bottom:     0;
  font-size:  small;
  left:       0;
  padding:    2px 4px;
  position:   absolute;
  width:      100%;
  z-index:    400;
}
